<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Show all customers</title>
</head>
<body>

<ul>
    <li th:each="customer : ${customers}">
        <a th:href="@{/customers/{id}(id=${customer.id})}" th:text="${customer.name} + ' ' + ${customer.surname} "></a>
        <form th:action="@{/customers/{id}/update(id=${customer.id})}" method="get" style="display:inline;">
            <button type="submit">Update</button>
        </form>
    </li>
</ul>

</body>
</html>
