<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
    <style>

        .customer-info {
            display: inline-block;
            width: 150px;
            vertical-align: middle;
        }


        .button-container {
            display: inline-flex;
            align-items: center;
        }

        .button-container form {
            margin-left: 5px;
        }
    </style>
</head>
<body>

<h1>Customer Details</h1>
<ul>
    <li>
        <span th:text="${customer.name}"></span>
        <span th:text="${customer.surname}"></span>,
        <span th:text="${customer.height}"></span>
    </li>
</ul>

<h2>Products:</h2>
<ul>
    <li th:each="product : ${customer.productsList}">
        <span th:text="${product.product.itemName}"></span>
        <span th:text="${product.quantity}"></span>
    </li>
    <li th:if="${#lists.isEmpty(customer.productsList)}">No products available.</li>
</ul>


<h2>Contacts:</h2>
<table>
    <tr th:each="contact : ${customer.contactsList}">
        <td th:text="${contact.contactType}"></td>
        <td th:text="${contact.contact}"></td>
        <td>
            <form th:action="@{/customers/{id}/contact/{contactId}(id=${customer.id}, contactId=${contact.id})}" method="get" style="display:inline;">
                <button type="submit">Update</button>
            </form>
        </td>
        <td>
        <form th:action="@{/customers/{customerId}/delete/{contactId}(customerId=${customer.id}, contactId=${contact.id})}" method="post" style="display:inline;">
            <input type="hidden" name="_method" value="delete"/>
            <button type="submit">Delete</button>
        </form>
        </td>
    </tr>
<!--    <tr th:if="${#lists.isEmpty(customer.contactsList)}">-->
<!--        <td colspan="3">No contacts available.</td>-->
<!--    </tr>-->
</table>

</body>
</html>
