<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Customer Details</title>
</head>
<body>

<h1>Customer Details</h1>
<ul>
    <li>
        <span th:text="${customer.name}"></span>
        <span th:text="${customer.surname}"></span>,
        <span th:text="${customer.height}"></span> cm
    </li>
</ul>

<h2>Products:</h2>
<ul>
    <li th:each="product : ${customer.productsList}">
        <span th:text="${product.product.itemName}"></span>
        <span th:text="${product.quantity}"></span>
    </li>
    <li th:if="${#lists.isEmpty(customer.productsList)}">No products available.</li>
</ul>

<h2>Contacts:</h2>
<ul>
    <li th:each="contact : ${customer.contactsList}">
        <span th:text="${contact.contactType}"></span>
        <span th:text="${contact.contact}"></span>
    </li>
</ul>

</body>
</html>
