<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Update</title>
    <style>

        .customer-info {
            display: inline-block;
            width: 150px;
            vertical-align: middle;
        }


        .button-container {
            display: inline-flex;
            align-items: center;
        }

        .button-container form {
            margin-left: 5px;
        }
    </style>
</head>
<body>
<form th:action="@{/customers/{id}/contact/{contactId}(id=${customer.id}, contactId=${contact.id})}" method="post" th:object="${contact}">
    <input type="hidden" name="_method" value="patch"/>

    <label for="contactType">Contact Type:</label>
    <select th:field="*{contactType}" id="contactType">
        <option value="" disabled>Выберите тип контакта</option>
        <th:block th:each="type : ${contactTypes}">
            <option th:value="${type}" th:text="${type}" th:selected="${type} == *{contactType}"></option>
        </th:block>
    </select>
    <br><br>

    <label for="contact">Contact:</label>
    <input type="text" th:field="*{contact}" id="contact"/>
    <br><br>

    <input type="submit" value="Update"/>
</form>
</body>
</html>
